.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: red;
    background-color: #000;
}

.notFound h1 {
    font-size: 60px;
}